{% extends "main.twig" %}

{% block title %}Quiz : {{ quiz.name }}{% endblock %}

{% block content %}
    <h2>{{ quiz.name }}</h2>
    <h4>{{ quiz.description }}</h4>
    {% if not isHistory %}
        <div class="box">
            <h5>Historique</h5>
            <p>Vous avez déjà fait {{ nbHistory }} fois ce quiz</p>
            <p><a href="index.php?page=historique&amp;quiz={{ quiz.id }}">Voir l'historique de vos réponses</a></p>
        </div>
    {% endif %}
    <form method="post" action="index.php?page=quiz&amp;quiz={{ quiz.id }}">

        {% if isHistory %}
            <p class="info important">Vous regardez votre historique</p>
            <p class="info">Vous avez répondu à ce quiz le {{ data.date|date('d/m/Y à H:i:s') }}</p>
        {% endif %}
        {% for question in quiz.questions %}
            <div class="question">
                <h4>{{ question.question }}</h4>
                <div class="answers">
                    {# Starting list if order #}
                    {% if question.type == 'order' %}
                        <ul class="sortable" id="{{ question.id }}">
                    {% endif %}
                    {% for answer in question.answers %}
                        {% if valided %}
                            <p {% if answer.correct %}class="correct"{% endif %}>
                                {# Processing selected answer #}
                                {% if data[question.id] is defined %}
                                    {% if question.type == 'radio' %}
                                        {% if data[question.id] == answer.id %}
                                            {% if answer.correct %}
                                                <img src="src/views/img/ok.png" alt="Correct">
                                            {% else %}
                                                {# Answer selected BUT wrong #}
                                                <img src="src/views/img/ko.png" alt="Wrong">
                                            {% endif %}{# End answer seleted #}
                                        {% endif %}
                                    {% elseif question.type == 'checkbox' %}
                                        {# Checkboxes #}
                                        {% if data[question.id] is iterable %}
                                            {# Parsing data ONLY if data is iterable #}
                                            {% if answer.id in data[question.id] %}
                                                {% if answer.correct %}
                                                    <img src="src/views/img/ok.png" alt="Correct">
                                                {% else %}
                                                    <img src="src/views/img/ko.png" alt="Wrong">
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% elseif question.type == 'number' %}
                                        {{ answer.answer }}
                                        {% if data[question.id] == answer.answer %}
                                            <p class="correct">
                                            <img src="src/views/img/ok.png" alt="Correct">
                                        {% else %}
                                            <p class="wrong">
                                            <img src="src/views/img/ko.png" alt="Wrong">
                                        {% endif %}
                                        {# In this case, we show user answer #}
                                        {{ data[question.id] }}
                                        </p>
                                    {% elseif question.type == 'order' %}
                                        {% if data[question.id]['user'] == data[question.id]['answer'] %}
                                            <img src="src/views/img/ok.png" alt="Correct">
                                        {% else %}
                                            <img src="src/views/img/ko.png" alt="Wrong">
                                        {% endif %}
                                    {% else %}
                                    {# ERROR -> Doing nothing #}
                                    {% endif %}{# END switch question type #}
                                {% endif %}{# END data[question.id] id defined #}
                                {% if question.type != 'number' %}
                                    {# In case of «number», there is an inversion in the result page, so answer.answer is aleady shown #}
                                    {{ answer.answer }}
                                {% endif %}
                            </p>
                        {% else %}
                            {# Special treatment for ORDER #}
                            {% if question.type == 'order' %}
                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span class="reponse">{{ answer.answer }}</span></li>
                            {% else %}
                                <input type="{{ question.type }}" name="{{ question.id }}{% if question.type == 'checkbox' %}[]{% endif %}" value="{% if question.type == 'number' %}0{% else %}{{ answer.id }}{% endif %}" id="{{ answer.id }}"><label for="{{ answer.id }}">{% if question.type != 'number' %}{{ answer.answer }}{% endif %}</label><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {# End of list IF order #}
                    {% if question.type == 'order' %}
                        </ul>
                        <input type="text" value="" name="{{ question.id }}">
                    {% endif %}
                    
                    {# Eplanation IF valided #}
                    {% if valided %}
                        <p class="solution">{{ question.explanation }}</p>
                    {% endif %}
                </div>{# End of questions block #}
            </div>
        {% endfor %}
        {% if valided %}
            <div class="controls-fixed result">
                <p>Vous avez {{ data.points.questionsScore }} bonnes réponses sur {{ data.points.questions }} questions.</p>
                <p>Vous avez obtenu {{ ((data.points.questionsScore/data.points.questions)*100)|round(2) }}%</p>
                <p>En détail, vous avez eu un score de {{ data.points.score }}/{{ data.points.points }}</p>
                <!--<p><a href="index.php?page=quiz&amp;quiz={{ quiz.id }}" class="size-nomal">Retenter ma chanche</a></p>-->
            </div>
        {% else %}
            <div class="controls-fixed">
                <input type="submit" name="submit" id="quiz-send" value="Soumettre">
            </div>
        {% endif %}
    </form>
{% endblock %}